@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        height: 100%
        width: 100%
        object-fit: cover
@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin: auto
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      width: 100%
      margin: 0
      margin-bottom: 30px
    &-moving
      flex-direction: row
  .booking, .map
    width: 340px
    height: 210px
  .reviews
    padding-bottom: 60px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 38px
      // max-width: 487px
    &-slider
      &__item
        max-width: 580px
    //  height: 299px
    //  padding: 136px 62px 30px 62px
    //  &__profile
    //  left: 243px
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &__user, &-menu
      display: none
  .button
    &-menu
      padding: 0
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      height: 11px
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    &__slider
      height: 350px
    &-moving
      flex-direction: column
      min-height: 450px
  .booking, .map
    width: 100%
  .newsletter
    &__parallax
      &-window
        height: 100%
    &-wrapper
      flex-direction: column
      align-items: flex-start
    &-text
      &__discription
        font-style: normal
        font-weight: 300
        font-size: 20px
        line-height: 25px
      &__title
        margin-bottom: 37px
        font-style: normal
        font-weight: 600
        font-size: 30px
        line-height: 38px
    &-subscribe
      width: 100%
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__text
        text-align: left
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
@media (max-width: 576px)
  .logo
    max-width: 99px
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-info
      &__name
        margin-top: 10px
      &__offer
        margin-left: 0
        margin-top: 0
        order: -1
      &__stars
        flex-basis: auto
      &__text
        width: 100%
      &__ratting
        display: none
    &-wrapper
      justify-content: space-between
    &-name
      flex-basis: 100%
      margin-top: 10px
  .hotel
    &-description
      max-width: 280px
    &__slider
      margin-bottom: 20px
      height: 250px
