.reviews
  padding: 40px 0 70px 0
  &__header
    display: flex
    justify-content: center
    margin-bottom: 115px
  &__title
    max-width: 584px
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
    margin: 0
  &-slider
    overflow: visible
    &__item
      width: 731px
      height: 280px
      position: relative
      margin: auto
      padding: 136px 97px 30px 97px
      background-color: #fff
      border-radius: 8px
    &__profile
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 97px
      height: 149px
      position: absolute
      top: -45px
      left: 319px
    &__avatar
      height: 90px
      width: 90px
      border-radius: 50%
      object-fit: cover
      margin-bottom: 9px
    &__name
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 15px
      color: $primary-color
      margin-bottom: 10px
    &__date
      font-style: normal
      font-weight: normal
      font-size: 10px
      line-height: 13px
      color: #000000
      margin-bottom: 4px
    &__stars
      line-height: 0
    &__text
      margin: 0
      text-align: justify
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 19px
      color: $text-color
